* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

.container_header {
    margin: 20px;
}

.container_header section {
}

.firstrow::after, .secondrow::after, .shop::after, .firstrow_item, .secondrow_item {
    content: "";
    display: table;
    clear: both;
}

.shop, .logo, .profile {
    width: calc(100% / 3);
    float: left;
}

.profile {
    text-align: right;
}

.gender, .search {
    float: right;
}

.search {
    width: 20%;
    border-bottom: 1px solid black;
}

.gender {
    width: 60%;
    text-align: center;
    padding: 5px;
}

.help, .newsletter, .search_shop, .other {
    float: left;
    margin-right: 20px;
}

.other > i {
    font-size: 8px;
}

.container_img {
    width: 100px;
    margin: auto;
}

.logo img {
    width: 100%;
}

.profile i {
    font-size: 25px;
}

.content_search {
    padding: 5px;
}

.content_search > i {
    font-size: 20px;
    position: absolute;
}

.content_search > input {
    border: none;
    position: relative;
    left: 30px;
}

.secondrow {
    padding: 40px 0;
}

.gender li {
    margin-right: 20px;
}

.path {
    font-size: 12px;
    text-align: center;
}

/* css main start */

.container_main {
    margin: 20px;
    border: 1px solid black;
}

.left_nav {
    width: 20%;
    border: 1px solid black;
    float: left;
}

.content_main {
    width: 80%;
    border: 1px solid black;
    float: left;
}

.adv, .titol {
    border: 1px solid black;
}

.adv {
    background-color: rgb(221, 214, 189);
}

.left_nav li {
    display: block;
    margin-bottom: 10px;
}

.left_nav h3, .left_nav a {
    margin-bottom: 10px;
}

.left_nav div {
    margin-bottom: 20px;
}

.adv {
    text-align: center;
    position: relative;
    padding: 20px;
}

.adv h2 {
    color: red;
}

.adv p {
    font-size: 10px;
}

.adv .sign_in {
    margin-top: 10px;
}

.sign_in{
    text-align: center;
}

.adv a {
    border: 1px solid black;
}

.adv h2, .adv p, .adv a {
    padding: 5px;
}

.titol {
    padding: 20px 0;
}

h1, .titol a {
    text-transform: uppercase;
}

.titol a {
    margin-right: 10px;
}

.titol i {
    margin-right: 20px;
}

.titol p {
    padding: 20px 0;
}

/* container_items start */

.firstrow_item {
    width: 100%;
}

.item {
    height: 600px;
    width: calc(100% / 4);
    border: 1px solid black;
    float: left;
}

.img_item {
    border: 1px solid black;
}

.img_item > img {
    height: 80%;
    width: 100%;
    object-fit: cover;
}

.info_item {
    border: 1px solid black;

}

