* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    height: 100px;
    margin: 20px;
}

.container section {
    height: 50px;
}

.firstrow::after, .secondrow::after, .shop::after, .profile::after, .gender::after {
    content: "";
    display: table;
    clear: both;
}

.shop, .logo, .profile {
    height: 50px;
    width: calc(100% / 3);
    float: left;
}

.search, .gender {
    height: 50px;
    float: right;
}

.search {
    width: 25%;
}

.gender {
    width: 50%;
}

.shop {
}

.logo {
    position:relative;
}

.search {
    border-bottom: 1px solid black;
}

.help, .newsletter, .search_shop, .other {
    float: left;
    margin-right: 20px;
}

.other > i {
    font-size: 8px;
}

.logo > img {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.sign_in, .whishlist, .cart {
    float: left;
    margin-right: 10px;
}

.profile i {
    font-size: 25px;
}

.search > i {
    font-size: 25px;
}

.search > input {
    height: 25px;
    font-size: 15px;
    border: none;
}

.search, .gender {
    padding: 10px;
}

.woman, .man, .divided, .baby, .child, .gender > .home, .beauty, .sport, .gift {
    float: left;
    margin-right: 20px;
}

.secondrow {
    margin: 30px 0px;
}