* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

.container_header {
    margin: 30px;
    margin-top: 40px;
}

.firstrow::after, .secondrow::after, .shop::after, .firstrow_item, .secondrow_item {
    content: "";
    display: table;
    clear: both;
}

.shop, .logo, .profile {
    width: calc(100% / 3);
    float: left;
}

.shop a, .profile a {
    font-size: 13px;
}

.other:hover {
    color: red;
}

.profile {
    text-align: right;
}

.gender, .search {
    float: right;
}

.search {
    width: 20%;
    border-bottom: 1px solid black;
}

.gender {
    width: 60%;
    text-align: center;
    padding: 5px;
}

.help, .newsletter, .search_shop, .other {
    float: left;
    margin-right: 20px;
}

.other > i {
    font-size: 5px;
}

.container_img {
    width: 100px;
    margin: auto;
}

.logo img {
    width: 100%;
}

.profile i {
    font-size: 25px;
    padding: 5px;
}

.profile a {
    margin-right: 10px;
}

.content_search {
    padding: 5px;
}

.content_search > i {
    font-size: 20px;
    position: absolute;
}

.content_search > input {
    border: none;
    position: relative;
    left: 30px;
}

.secondrow {
    padding: 30px 0;
}

.gender li {
    margin-right: 20px;
}

.gender .overlay {
    display: none;
    position: absolute;
    background-color: white;
}

.gender_dropdown:hover .overlay {
    display: block;
}

.path {
    font-size: 12px;
    text-align: center;
    padding-bottom: 30px;
}


/* css main start */


.container_main {
    margin: 30px;
}

.left_nav {
    width: 15%;
    float: left;
}

.content_main {
    width: 85%;
    float: left;
}

.adv {
    background-color: rgb(237, 233, 217);
}

.left_nav li {
    display: block;
    margin-bottom: 10px;
}

.left_nav h3, .left_nav a {
    margin-bottom: 10px;
}

h3 {
    font-size: 16px;
}

.left_nav a {
    font-size: 13px;
}

.left_nav div {
    margin-bottom: 20px;
}

.adv {
    text-align: center;
    position: relative;
    padding: 20px;
}

.adv h2 {
    color: red;
}

.adv p {
    font-size: 10px;
}

.adv .sign_in {
    margin-top: 10px;
}

.sign_in{
    text-align: center;
}

.sign_in a {
    border: 1px solid black;
}

.adv h2, .adv p, .adv a {
    padding: 5px;
}

.titol {
    padding: 20px 0;
}

h1 {
    font-size: 40px;
}

h1, .titol a {
    text-transform: uppercase;
}

.titol a {
    margin-right: 10px;
}

.titol i {
    margin-right: 20px;
}

.titol p {
    padding: 20px 0;
}

.order a:hover {
    text-decoration: none;
}


/* container_items start */


.item {
    width: calc(100% / 4 - 10px);
    float: left;
    margin-right: 10px;
}

.img_item {
    position: relative;
}

.img_item img {
    display: block;
    height: 80%;
    width: 100%;
    object-fit: cover;
}

.img_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.img_original:hover {
    display: none; 
}

.img_item:hover .img_overlay {
    display: block;
}

.img_item .wish {
    position: relative;
}

.wish_original, .wish_overlay {
    font-size: 30px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.wish_original {
    color: white;
    -webkit-text-stroke: 1px black;
}

.wish_overlay {
    color: red;
    display: none;
}

.wish_original:hover {
    display: none;
    -webkit-text-stroke: 0 white;
}

.wish:hover .wish_overlay {
    display: block;
}

.info_item .name, .info_item .price {
    font-size: 15px;
}

.info_item i {
    font-size: 8px;
}

.info_item .type {
    font-size: 10px;
}

